html, body {
    height: 100%;
    margin: 0px;
    font-family: helvetica;
    font-size: 15px;
}
.profile {
    width: 25%;
    height: 100%;
    align-items: center;
    display: flex;
    float: left;
}
.profile div {
    text-align: center;
    margin-left: 120px;
    margin-bottom: 125px;
}
.profile h1 h2 {
    position: absolute;
}
.profile img {
    position: relative;
}
.avatar {
    border-radius: 100%;
    width: 150px;
}
.content {
    float: left;
    margin-top: 15px;
}
.content pre b {
    font-size: 17px;
}
.line {
    height: 1px;
    width: 90%;
    background-color: lightgray;
    margin-top: -10px;
    margin-bottom: 10px;
}