@font-face {
    font-family: 'fontello';
    src: url('./fontello.woff') format('woff');
}
html, body {
    height: 100%;
    margin: 0px;
    font-family: helvetica;
    font-size: 15px;
}
.line {
    height: 1px;
    width: 90%;
    background-color: lightgray;
    margin-top: -10px;
    margin-bottom: 10px;
}
.profile {
    width: 15%;
    height: 100%;
    align-items: center;
    display: flex;
    float: left;
    margin: 0px 65px 0px 50px;
    text-align: center;
}
.profile div {
    margin-bottom: 100px;
}
.profile h1 h2 {
    position: absolute;
}
.profile img {
    position: relative;
}
.avatar {
    border-radius: 100%;
    width: 150px;
}
.content {
    float: left;
    margin-top: 15px;
}
.content pre b {
    font-size: 17px;
}
.content a {
    display: block;
    padding-top: 4px;
    color: blue;
}
.socials {
    font-family: "fontello";
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    user-select: none;
}
.socials a {
    padding: 0px 7px 0px 7px;
}
.socials a:visited {
    color: black;
}
.socials a:hover {
    color: #0A59B0;
}