html, body {
    height: 100%;
    margin: 0px;
    font-family: helvetica;
    font-size: 15px;
}
.line {
    height: 1px;
    width: 90%;
    background-color: black;
    margin-top: -10px;
    margin-bottom: 10px;
}
.arrow {

}
.container {
    background-color: lightgray;
    min-width: 40%;
    border-radius: 20px;
    padding: 0px 15px 27px 17px;
    margin: 20px;
    float: left;
}
.container pre b {
    font-size: 17px;
}
.container pre span {
    color: teal;
}
.code-snipped {
    border-radius: 2px 2px 2px 2px;
    margin: 20px;
    float: left;
    background-color: gray;
    height: 20px;
}
.code-snipped p::before {
    content: '\\/';
    float:right;
    margin-top: -14px;
    margin-right: 5px;
    color: black;
}
.code-snipped pre {
    background-color: lightgray;
    padding: 8px;
    border-radius: 0px 0px 2px 2px;
    visibility: hidden;
    margin-top: 20px;
}
.code-snipped pre span {
    color: teal;
}